body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.form input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

table {
    width: 80%;
    margin: auto;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
